h1 {
    background-color: #4CAF50;
    color: #000;
    font-family: monospace;
}

html {
  min-height: 50px;
  min-width: 300px;
}

body {
    font-family: monospace;
    background-color: #000;
    color: lime;
}

body.light {
  font-family: monospace;
  background-color: #fff;
  color: cadetblue;
}

/* button styling */

button {
    background-color: #000;
    font-family: monospace;
    /* border-radius: 100%; */
    border: #4CAF50;
    border-width: 2px;
    color: white;
    text-align: center;
    /* min-height: 50px; */
    text-decoration: none;
    font-size: 16px;
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    display: block; 
    cursor: pointer;
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
  } 
  
  button:hover{
    box-shadow: 0px 0px 10px 0px #4CAF50;
    background-color: #4CAF50;
    transform: scale(1.02, 1.02);
  }
  
  button:active{
    box-shadow: 0px 0px 0px 0px #4CAF50;
    transform: scale(0.95, 0.95);
  }

.cog{
  color: #fff;
  font-size: 16px;
  transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cog:hover{
  transform: rotateX('360');
  transform: scale(1.1, 1.1);
  color: red; 
}

a {
  color: #fff;
  text-decoration: none;
  transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

a:hover {
  color:#4CAF50;
}

a:active {
  color: darkgreen;
}

/* nav bar */

.navbar {
  overflow: hidden;
  background-color: red;
}

.navbar p {
  float: left;
  text-align: left;
  font-size: 16px;
}

.navbar a {
  float: right;
  color:#4D4D4D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.navbar a:hover, .dropdown:hover .dropbutton, .dropbutton:focus{
  background-color: #4CAF50;
  color: #000;
}

.navbar a:active{
  background-color: darkgreen;
  color: #fff;
}

/*dropdown menu*/

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbutton {
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-options {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-options a {
  float: left;
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-options a:hover {
  background-color: #4D4D4D;
}

.show {
  display: block;
}

/*burger menu icon */

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* accordion */

.accordion {
  background-color: red;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.active, .accordion:hover {
  background-color: darkred;
}

.accordion:after {
  content: "\002B";
  color: cyan;
  float: right;
  margin-left: 5px;
}

.active:after {
  content:"\2212";
}

.panel {
  padding: 0 18px;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}